*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;

}
.borderright{
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
}
.buttonghost{
    color: orange;
    border: 1px solid;
    border-radius: 10%;
    padding: 5px;
    margin: 0 10px 0 10px;
}
.buttonorange{
    color: beige;
    border: 1px solid;
    border-radius: 10%;
    padding: 5px;
    border-color: orange;
    background-color: orange;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.floatleft{
    float: left;
}
.floatright{
    float:right;
}
header{
    background-color: beige;
    line-height: 75px;
    border-bottom: 1px solid;
}
.header1,nav,.home1box{
    width: 1200px;
    margin: auto;
}
.home1{
    height: 600px;
    border: 1px solid;
    background-image: url(img/jumbotron.png);
    background-position: right -87px;
    background-repeat: no-repeat;
    background-size: 1600px;
}
.home1box{

}
.logo{
    vertical-align: middle;
}
nav{
    border: 1px solid;
    line-height: 75px;
}
.spacex > *{
    padding: 0 5px 0 5px;
}
.textcol{
    color: black;
}
.inline-block > *{
    display: inline-block;
}