*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;

}
.borderright{
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
}
.buttonghost{
    color: orange;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    margin: 0 10px 0 10px;
}
.buttonorange{
    border: 1px solid;
    padding: 5px;
} 
.buttonorangebig{
    padding: 15px 20px;
    display: inline-block;
}
.buttonorange,.buttonorangebig{
    color: beige;
    border-radius: 8px;
    border-color: orange;
    background-color: orange;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.floatleft{
    float: left;
}
.floatright{
    float:right;
}
.fontbig{
    font-size: 50px;
    font-weight: bold;
}
.fontsmall{
    font-size: 13px;
}
.fontmedium{
    font-size: 35px;
    padding-bottom: 35px;
}
.greenbar{
    background-color: #a6e8e0;
    height: 75px;
    border-bottom: 2px solid;
    border-top: 2px solid;
}
header{
    background-color: beige;
    line-height: 75px;
    border-bottom: 1px solid;
}
.header1,nav,.home1box,.home2div{
    width: 1200px;
    margin: auto;
}
.home1{
    height: 600px;
    background-image: url(img/jumbotron.png);
    background-position: 350px -85px;
    background-repeat: no-repeat;
    background-size: 1600px;
    background-color: #fef4ec;
}
.home1box{
    border: 1px solid;
    padding-right: 680px;
    padding-top: 100px;
}
.home1box > *{
    margin-bottom: 30px;
}
.home2{
    background-color: beige;
    padding: 50px 0 50px 0;
}
.home2logo{
    height: 200px;
}
.home2div{
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
}
.home2pics{
    height: 100px;
}
.logo{
    vertical-align: middle;
}
.marginauto > *{
    margin: auto;
    text-align: center;
}
nav{
    border: 1px solid;
    line-height: 75px;
}
.pads{
    padding: 0 500px 0 500px;
}
.spacex > *{
    padding: 0 5px 0 5px;
}
.textcol{
    color: black;
}
.inline-block > *{
    display: inline-block;
}